<a href="https://colab.research.google.com/github/bosko9905/first_rahul/blob/main/Pandas_Introduction_(10).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [1]:
import pandas as pd

In [2]:
dir(pd)

['ArrowDtype',
 'BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_built_with_meson',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_pandas_datetime_CAPI',
 '_pandas_parser_CAPI',
 '_testing',
 '_typing',
 '_version_meson',
 'annotations',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'from_dummies',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [4]:
df = pd.read_csv("Salaries.csv")

In [5]:
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   20       20    Male  122400
2   AssocProf          A   20       17    Male   81285
3        Prof          B   23       23    Male  134778
4    AsstProf          B    1        0    Male   88000
5        Prof          B   17        3    Male  150480
6    AsstProf          B    8        3    Male   75044
7    AsstProf          B    4        0    Male   92000
8        Prof          A   19        7    Male  107300
9        Prof          A   29       27    Male  150500
10   AsstProf          B    4        4    Male   92000
11       Prof          A   33       30    Male  103106
12   AsstProf          A    4        2    Male   73000
13   AsstProf          A    2        0    Male   85000
14       Prof          A   30       23    Male   91100
15   AsstProf          B    7        2    Male   91300
16       Prof          B   21       20    Male  123683
17  AssocProf          B    9        7    Male  107008
18       Prof          B   22       21    Male  155750
19  AssocProf          B   12        8    Male  119800
20       Prof          B   45       45    Male  146856
21   AsstProf          B    4        3    Male   91000
22       Prof          A   39       36  Female  137000
23  AssocProf          A   13        8  Female   74830
24       Prof          B   25       25  Female  140096
25   AsstProf          B   11        3  Female   74692
26  AssocProf          B   11       11  Female  103613
27       Prof          B   17       17  Female  111512
28   AsstProf          B   10        5  Female   97032
29       Prof          B   20       14  Female  127512
30       Prof          A   12        0  Female  105000
31   AsstProf          A    5        3  Female   73500
32   AsstProf          A    3        1  Female   72500
33       Prof          B   36       26  Female  144651
34  AssocProf          B   12       10  Female  103994
35   AsstProf          B    3        3  Female   92000
36       Prof          A   29       27  Female   91000
37  AssocProf          A   26       24  Female   73300
38       Prof          A   36       19  Female  117555
39   AsstProf          A    7        6  Female   63100
40       Prof          A   17       11  Female   90450
41   AsstProf          A    4        2  Female   77500
42       Prof          A   28        7  Female  116450
43   AsstProf          A    8        3  Female   78500
44  AssocProf          B   12        9  Female   71065
45       Prof          B   24       15  Female  161101
46       Prof          B   18       10  Female  105450
47  AssocProf          B   19        6  Female  104542
48       Prof          B   17       17  Female  124312
49       Prof          A   28       14  Female  109954
50       Prof          A   23       15  Female  109646

In [6]:
df.shape   #Number of rows, number of columns

(51, 6)

In [7]:
df.columns    #column names

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [8]:
df.index  #rownames

RangeIndex(start=0, stop=51, step=1)

In [9]:
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [10]:
df.axes

[RangeIndex(start=0, stop=51, step=1),
 Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')]

In [11]:
df.ndim

2

In [12]:
df.values

array([['Prof', 'B', 56, 49, 'Male', 186960],
       ['Prof', 'A', 20, 20, 'Male', 122400],
       ['AssocProf', 'A', 20, 17, 'Male', 81285],
       ['Prof', 'B', 23, 23, 'Male', 134778],
       ['AsstProf', 'B', 1, 0, 'Male', 88000],
       ['Prof', 'B', 17, 3, 'Male', 150480],
       ['AsstProf', 'B', 8, 3, 'Male', 75044],
       ['AsstProf', 'B', 4, 0, 'Male', 92000],
       ['Prof', 'A', 19, 7, 'Male', 107300],
       ['Prof', 'A', 29, 27, 'Male', 150500],
       ['AsstProf', 'B', 4, 4, 'Male', 92000],
       ['Prof', 'A', 33, 30, 'Male', 103106],
       ['AsstProf', 'A', 4, 2, 'Male', 73000],
       ['AsstProf', 'A', 2, 0, 'Male', 85000],
       ['Prof', 'A', 30, 23, 'Male', 91100],
       ['AsstProf', 'B', 7, 2, 'Male', 91300],
       ['Prof', 'B', 21, 20, 'Male', 123683],
       ['AssocProf', 'B', 9, 7, 'Male', 107008],
       ['Prof', 'B', 22, 21, 'Male', 155750],
       ['AssocProf', 'B', 12, 8, 'Male', 119800],
       ['Prof', 'B', 45, 45, 'Male', 146856],
       ['AsstProf', 'B', 4, 3, 'Male', 91000],
       ['Prof', 'A', 39, 36, 'Female', 137000],
       ['AssocProf', 'A', 13, 8, 'Female', 74830],
       ['Prof', 'B', 25, 25, 'Female', 140096],
       ['AsstProf', 'B', 11, 3, 'Female', 74692],
       ['AssocProf', 'B', 11, 11, 'Female', 103613],
       ['Prof', 'B', 17, 17, 'Female', 111512],
       ['AsstProf', 'B', 10, 5, 'Female', 97032],
       ['Prof', 'B', 20, 14, 'Female', 127512],
       ['Prof', 'A', 12, 0, 'Female', 105000],
       ['AsstProf', 'A', 5, 3, 'Female', 73500],
       ['AsstProf', 'A', 3, 1, 'Female', 72500],
       ['Prof', 'B', 36, 26, 'Female', 144651],
       ['AssocProf', 'B', 12, 10, 'Female', 103994],
       ['AsstProf', 'B', 3, 3, 'Female', 92000],
       ['Prof', 'A', 29, 27, 'Female', 91000],
       ['AssocProf', 'A', 26, 24, 'Female', 73300],
       ['Prof', 'A', 36, 19, 'Female', 117555],
       ['AsstProf', 'A', 7, 6, 'Female', 63100],
       ['Prof', 'A', 17, 11, 'Female', 90450],
       ['AsstProf', 'A', 4, 2, 'Female', 77500],
       ['Prof', 'A', 28, 7, 'Female', 116450],
       ['AsstProf', 'A', 8, 3, 'Female', 78500],
       ['AssocProf', 'B', 12, 9, 'Female', 71065],
       ['Prof', 'B', 24, 15, 'Female', 161101],
       ['Prof', 'B', 18, 10, 'Female', 105450],
       ['AssocProf', 'B', 19, 6, 'Female', 104542],
       ['Prof', 'B', 17, 17, 'Female', 124312],
       ['Prof', 'A', 28, 14, 'Female', 109954],
       ['Prof', 'A', 23, 15, 'Female', 109646]], dtype=object)

In [13]:
df.head()

        rank discipline  phd  service   sex  salary
0       Prof          B   56       49  Male  186960
1       Prof          A   20       20  Male  122400
2  AssocProf          A   20       17  Male   81285
3       Prof          B   23       23  Male  134778
4   AsstProf          B    1        0  Male   88000

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   rank        51 non-null     object
 1   discipline  51 non-null     object
 2   phd         51 non-null     int64
 3   service     51 non-null     int64
 4   sex         51 non-null     object
 5   salary      51 non-null     int64
dtypes: int64(3), object(3)
memory usage: 2.5+ KB

In [15]:
df.describe() ###summary stats only for numerical data

             phd    service         salary
count  51.000000  51.000000      51.000000
mean   17.705882  12.960784  106278.568627
std    12.090152  11.615439   27957.854794
min     1.000000   0.000000   63100.000000
25%     8.000000   3.000000   86500.000000
50%    17.000000  10.000000  103994.000000
75%    24.500000  20.000000  123041.500000
max    56.000000  49.000000  186960.000000

In [16]:
help(df.describe)

Help on method describe in module pandas.core.generic:

describe(percentiles=None, include=None, exclude=None) -> 'Self' method of pandas.core.frame.DataFrame instance
    Generate descriptive statistics.

    Descriptive statistics include those that summarize the central
    tendency, dispersion and shape of a
    dataset's distribution, excluding ``NaN`` values.

    Analyzes both numeric and object series, as well
    as ``DataFrame`` column sets of mixed data types. The output
    will vary depending on what is provided. Refer to the notes
    below for more detail.

    Parameters
    ----------
    percentiles : list-like of numbers, optional
        The percentiles to include in the output. All should
        fall between 0 and 1. The default is
        ``[.25, .5, .75]``, which returns the 25th, 50th, and
        75th percentiles.
    include : 'all', list-like of dtypes or None (default), optional
        A white list of data types to include in the result. Ignored
        for ``Series``. Here are the options:

        - 'all' : All columns of the input will be included in the output.
        - A list-like of dtypes : Limits the results to the
          provided data types.
          To limit the result to numeric types submit
          ``numpy.number``. To limit it instead to object columns submit
          the ``numpy.object`` data type. Strings
          can also be used in the style of
          ``select_dtypes`` (e.g. ``df.describe(include=['O'])``). To
          select pandas categorical columns, use ``'category'``
        - None (default) : The result will include all numeric columns.
    exclude : list-like of dtypes or None (default), optional,
        A black list of data types to omit from the result. Ignored
        for ``Series``. Here are the options:

        - A list-like of dtypes : Excludes the provided data types
          from the result. To exclude numeric types submit
          ``numpy.number``. To exclude object columns submit the data
          type ``numpy.object``. Strings can also be used in the style of
          ``select_dtypes`` (e.g. ``df.describe(exclude=['O'])``). To
          exclude pandas categorical columns, use ``'category'``
        - None (default) : The result will exclude nothing.

    Returns
    -------
    Series or DataFrame
        Summary statistics of the Series or Dataframe provided.

    See Also
    --------
    DataFrame.count: Count number of non-NA/null observations.
    DataFrame.max: Maximum of the values in the object.
    DataFrame.min: Minimum of the values in the object.
    DataFrame.mean: Mean of the values.
    DataFrame.std: Standard deviation of the observations.
    DataFrame.select_dtypes: Subset of a DataFrame including/excluding
        columns based on their dtype.

    Notes
    -----
    For numeric data, the result's index will include ``count``,
    ``mean``, ``std``, ``min``, ``max`` as well as lower, ``50`` and
    upper percentiles. By default the lower percentile is ``25`` and the
    upper percentile is ``75``. The ``50`` percentile is the
    same as the median.

    For object data (e.g. strings or timestamps), the result's index
    will include ``count``, ``unique``, ``top``, and ``freq``. The ``top``
    is the most common value. The ``freq`` is the most common value's
    frequency. Timestamps also include the ``first`` and ``last`` items.

    If multiple object values have the highest count, then the
    ``count`` and ``top`` results will be arbitrarily chosen from
    among those with the highest count.

    For mixed data types provided via a ``DataFrame``, the default is to
    return only an analysis of numeric columns. If the dataframe consists
    only of object and categorical data without any numeric columns, the
    default is to return an analysis of both the object and categorical
    columns. If ``include='all'`` is provided as an option, the result
    will include a union of attributes of each type.

    The `include` and `exclude` parameters can be used to limit
    which columns in a ``DataFrame`` are analyzed for the output.
    The parameters are ignored when analyzing a ``Series``.

    Examples
    --------
    Describing a numeric ``Series``.

    >>> s = pd.Series([1, 2, 3])
    >>> s.describe()
    count    3.0
    mean     2.0
    std      1.0
    min      1.0
    25%      1.5
    50%      2.0
    75%      2.5
    max      3.0
    dtype: float64

    Describing a categorical ``Series``.

    >>> s = pd.Series(['a', 'a', 'b', 'c'])
    >>> s.describe()
    count     4
    unique    3
    top       a
    freq      2
    dtype: object

    Describing a timestamp ``Series``.

    >>> s = pd.Series([
    ...     np.datetime64("2000-01-01"),
    ...     np.datetime64("2010-01-01"),
    ...     np.datetime64("2010-01-01")
    ... ])
    >>> s.describe()
    count                      3
    mean     2006-09-01 08:00:00
    min      2000-01-01 00:00:00
    25%      2004-12-31 12:00:00
    50%      2010-01-01 00:00:00
    75%      2010-01-01 00:00:00
    max      2010-01-01 00:00:00
    dtype: object

    Describing a ``DataFrame``. By default only numeric fields
    are returned.

    >>> df = pd.DataFrame({'categorical': pd.Categorical(['d', 'e', 'f']),
    ...                    'numeric': [1, 2, 3],
    ...                    'object': ['a', 'b', 'c']
    ...                    })
    >>> df.describe()
           numeric
    count      3.0
    mean       2.0
    std        1.0
    min        1.0
    25%        1.5
    50%        2.0
    75%        2.5
    max        3.0

    Describing all columns of a ``DataFrame`` regardless of data type.

    >>> df.describe(include='all')  # doctest: +SKIP
           categorical  numeric object
    count            3      3.0      3
    unique           3      NaN      3
    top              f      NaN      a
    freq             1      NaN      1
    mean           NaN      2.0    NaN
    std            NaN      1.0    NaN
    min            NaN      1.0    NaN
    25%            NaN      1.5    NaN
    50%            NaN      2.0    NaN
    75%            NaN      2.5    NaN
    max            NaN      3.0    NaN

    Describing a column from a ``DataFrame`` by accessing it as
    an attribute.

    >>> df.numeric.describe()
    count    3.0
    mean     2.0
    std      1.0
    min      1.0
    25%      1.5
    50%      2.0
    75%      2.5
    max      3.0
    Name: numeric, dtype: float64

    Including only numeric columns in a ``DataFrame`` description.

    >>> df.describe(include=[np.number])
           numeric
    count      3.0
    mean       2.0
    std        1.0
    min        1.0
    25%        1.5
    50%        2.0
    75%        2.5
    max        3.0

    Including only string columns in a ``DataFrame`` description.

    >>> df.describe(include=[object])  # doctest: +SKIP
           object
    count       3
    unique      3
    top         a
    freq        1

    Including only categorical columns from a ``DataFrame`` description.

    >>> df.describe(include=['category'])
           categorical
    count            3
    unique           3
    top              d
    freq             1

    Excluding numeric columns from a ``DataFrame`` description.

    >>> df.describe(exclude=[np.number])  # doctest: +SKIP
           categorical object
    count            3      3
    unique           3      3
    top              f      a
    freq             1      1

    Excluding object columns from a ``DataFrame`` description.

    >>> df.describe(exclude=[object])  # doctest: +SKIP
           categorical  numeric
    count            3      3.0
    unique           3      NaN
    top              f      NaN
    freq             1      NaN
    mean           NaN      2.0
    std            NaN      1.0
    min            NaN      1.0
    25%            NaN      1.5
    50%            NaN      2.0
    75%            NaN      2.5
    max            NaN      3.0

In [ ]:
df.describe(include=["object"])

        rank discipline     sex
count     51         51      51
unique     3          2       2
top     Prof          B  Female
freq      26         28      29

In [ ]:
df.min(numeric_only=True)

phd            1
service        0
salary     63100
dtype: int64

In [ ]:
df.mean(numeric_only=True)

phd            17.705882
service        12.960784
salary     106278.568627
dtype: float64

In [ ]:
df.std(numeric_only=True)

phd           12.090152
service       11.615439
salary     27957.854794
dtype: float64

In [ ]:
#var,mean,median,skew,kurt,mode

In [ ]:
df.kurt(numeric_only=True)

phd        0.796305
service    1.205334
salary     0.077994
dtype: float64

In [ ]:
df.mode()

   rank discipline  phd  service     sex  salary
0  Prof          B    4        3  Female   92000

## Accesing a column(s) from dataframe

In [ ]:
df.rank() #unable to fetch rank col because rank is a keyword in python

    rank  discipline   phd  service   sex  salary
0   38.5        37.5  51.0     51.0  40.5    51.0
1   38.5        12.0  32.0     38.5  40.5    38.0
2    5.0        12.0  32.0     35.0  40.5    12.0
3   38.5        37.5  36.5     41.5  40.5    42.0
4   17.5        37.5   1.0      2.5  40.5    14.0
5   38.5        37.5  25.5     12.0  40.5    47.0
6   17.5        37.5  13.5     12.0  40.5     9.0
7   17.5        37.5   7.0      2.5  40.5    21.0
8   38.5        12.0  29.5     21.0  40.5    31.0
9   38.5        12.0  43.5     46.5  40.5    48.0
10  17.5        37.5   7.0     16.0  40.5    21.0
11  38.5        12.0  46.0     48.0  40.5    24.0
12  17.5        12.0   7.0      7.0  40.5     4.0
13  17.5        12.0   2.0      2.5  40.5    13.0
14  38.5        12.0  45.0     41.5  40.5    18.0
15  17.5        37.5  11.5      7.0  40.5    19.0
16  38.5        37.5  34.0     38.5  40.5    39.0
17   5.0        37.5  15.0     21.0  40.5    30.0
18  38.5        37.5  35.0     40.0  40.5    49.0
19   5.0        37.5  20.5     23.5  40.5    37.0
20  38.5        37.5  50.0     50.0  40.5    46.0
21  17.5        37.5   7.0     12.0  40.5    16.5
22  38.5        12.0  49.0     49.0  15.0    43.0
23   5.0        12.0  23.0     23.5  15.0     8.0
24  38.5        37.5  39.0     44.0  15.0    44.0
25  17.5        37.5  17.5     12.0  15.0     7.0
26   5.0        37.5  17.5     28.5  15.0    25.0
27  38.5        37.5  25.5     35.0  15.0    34.0
28  17.5        37.5  16.0     17.0  15.0    23.0
29  38.5        37.5  32.0     30.5  15.0    41.0
30  38.5        12.0  20.5      2.5  15.0    28.0
31  17.5        12.0  10.0     12.0  15.0     6.0
32  17.5        12.0   3.5      5.0  15.0     3.0
33  38.5        37.5  47.5     45.0  15.0    45.0
34   5.0        37.5  20.5     26.5  15.0    26.0
35  17.5        37.5   3.5     12.0  15.0    21.0
36  38.5        12.0  43.5     46.5  15.0    16.5
37   5.0        12.0  40.0     43.0  15.0     5.0
38  38.5        12.0  47.5     37.0  15.0    36.0
39  17.5        12.0  11.5     18.5  15.0     1.0
40  38.5        12.0  25.5     28.5  15.0    15.0
41  17.5        12.0   7.0      7.0  15.0    10.0
42  38.5        12.0  41.5     21.0  15.0    35.0
43  17.5        12.0  13.5     12.0  15.0    11.0
44   5.0        37.5  20.5     25.0  15.0     2.0
45  38.5        37.5  38.0     32.5  15.0    50.0
46  38.5        37.5  28.0     26.5  15.0    29.0
47   5.0        37.5  29.5     18.5  15.0    27.0
48  38.5        37.5  25.5     35.0  15.0    40.0
49  38.5        12.0  41.5     30.5  15.0    33.0
50  38.5        12.0  36.5     32.5  15.0    32.0

In [ ]:
df.salary.mean()

np.float64(106278.56862745098)

In [ ]:
df['rank']

0          Prof
1          Prof
2     AssocProf
3          Prof
4      AsstProf
5          Prof
6      AsstProf
7      AsstProf
8          Prof
9          Prof
10     AsstProf
11         Prof
12     AsstProf
13     AsstProf
14         Prof
15     AsstProf
16         Prof
17    AssocProf
18         Prof
19    AssocProf
20         Prof
21     AsstProf
22         Prof
23    AssocProf
24         Prof
25     AsstProf
26    AssocProf
27         Prof
28     AsstProf
29         Prof
30         Prof
31     AsstProf
32     AsstProf
33         Prof
34    AssocProf
35     AsstProf
36         Prof
37    AssocProf
38         Prof
39     AsstProf
40         Prof
41     AsstProf
42         Prof
43     AsstProf
44    AssocProf
45         Prof
46         Prof
47    AssocProf
48         Prof
49         Prof
50         Prof
Name: rank, dtype: object

In [ ]:
df[['rank','salary']]

In [ ]:
df[['rank','discipline',"salary"]]

         rank discipline  salary
0        Prof          B  186960
1        Prof          A  122400
2   AssocProf          A   81285
3        Prof          B  134778
4    AsstProf          B   88000
5        Prof          B  150480
6    AsstProf          B   75044
7    AsstProf          B   92000
8        Prof          A  107300
9        Prof          A  150500
10   AsstProf          B   92000
11       Prof          A  103106
12   AsstProf          A   73000
13   AsstProf          A   85000
14       Prof          A   91100
15   AsstProf          B   91300
16       Prof          B  123683
17  AssocProf          B  107008
18       Prof          B  155750
19  AssocProf          B  119800
20       Prof          B  146856
21   AsstProf          B   91000
22       Prof          A  137000
23  AssocProf          A   74830
24       Prof          B  140096
25   AsstProf          B   74692
26  AssocProf          B  103613
27       Prof          B  111512
28   AsstProf          B   97032
29       Prof          B  127512
30       Prof          A  105000
31   AsstProf          A   73500
32   AsstProf          A   72500
33       Prof          B  144651
34  AssocProf          B  103994
35   AsstProf          B   92000
36       Prof          A   91000
37  AssocProf          A   73300
38       Prof          A  117555
39   AsstProf          A   63100
40       Prof          A   90450
41   AsstProf          A   77500
42       Prof          A  116450
43   AsstProf          A   78500
44  AssocProf          B   71065
45       Prof          B  161101
46       Prof          B  105450
47  AssocProf          B  104542
48       Prof          B  124312
49       Prof          A  109954
50       Prof          A  109646

In [ ]:
df['rank'].unique()

array(['Prof', 'AssocProf', 'AsstProf'], dtype=object)

In [ ]:
df['discipline'].unique()

array(['B', 'A'], dtype=object)

In [ ]:
df.discipline.nunique()

2

In [ ]:
df.discipline.value_counts()

discipline
B    28
A    23
Name: count, dtype: int64

In [ ]:
df.loc[:,["rank","discipline"]].value_counts()

In [ ]:
df['rank'].value_counts()

rank
Prof         26
AsstProf     16
AssocProf     9
Name: count, dtype: int64

In [ ]:
lst=[56,89,56,899,14,23]
#lst.sort(reverse=True)
lst.reverse()#or lst[::-1]
lst[-1]

[23, 14, 899, 56, 89, 56]

In [ ]:
df.sort_values(by="service",ascending=False)

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
20       Prof          B   45       45    Male  146856
22       Prof          A   39       36  Female  137000
11       Prof          A   33       30    Male  103106
36       Prof          A   29       27  Female   91000
9        Prof          A   29       27    Male  150500
33       Prof          B   36       26  Female  144651
24       Prof          B   25       25  Female  140096
37  AssocProf          A   26       24  Female   73300
14       Prof          A   30       23    Male   91100
3        Prof          B   23       23    Male  134778
18       Prof          B   22       21    Male  155750
1        Prof          A   20       20    Male  122400
16       Prof          B   21       20    Male  123683
38       Prof          A   36       19  Female  117555
27       Prof          B   17       17  Female  111512
2   AssocProf          A   20       17    Male   81285
48       Prof          B   17       17  Female  124312
45       Prof          B   24       15  Female  161101
50       Prof          A   23       15  Female  109646
49       Prof          A   28       14  Female  109954
29       Prof          B   20       14  Female  127512
40       Prof          A   17       11  Female   90450
26  AssocProf          B   11       11  Female  103613
34  AssocProf          B   12       10  Female  103994
46       Prof          B   18       10  Female  105450
44  AssocProf          B   12        9  Female   71065
23  AssocProf          A   13        8  Female   74830
19  AssocProf          B   12        8    Male  119800
17  AssocProf          B    9        7    Male  107008
8        Prof          A   19        7    Male  107300
42       Prof          A   28        7  Female  116450
39   AsstProf          A    7        6  Female   63100
47  AssocProf          B   19        6  Female  104542
28   AsstProf          B   10        5  Female   97032
10   AsstProf          B    4        4    Male   92000
21   AsstProf          B    4        3    Male   91000
31   AsstProf          A    5        3  Female   73500
35   AsstProf          B    3        3  Female   92000
43   AsstProf          A    8        3  Female   78500
6    AsstProf          B    8        3    Male   75044
5        Prof          B   17        3    Male  150480
25   AsstProf          B   11        3  Female   74692
12   AsstProf          A    4        2    Male   73000
41   AsstProf          A    4        2  Female   77500
15   AsstProf          B    7        2    Male   91300
32   AsstProf          A    3        1  Female   72500
13   AsstProf          A    2        0    Male   85000
7    AsstProf          B    4        0    Male   92000
4    AsstProf          B    1        0    Male   88000
30       Prof          A   12        0  Female  105000

In [ ]:
df.sort_values(by="rank",ascending=True)

         rank discipline  phd  service     sex  salary
34  AssocProf          B   12       10  Female  103994
2   AssocProf          A   20       17    Male   81285
47  AssocProf          B   19        6  Female  104542
26  AssocProf          B   11       11  Female  103613
37  AssocProf          A   26       24  Female   73300
23  AssocProf          A   13        8  Female   74830
44  AssocProf          B   12        9  Female   71065
19  AssocProf          B   12        8    Male  119800
17  AssocProf          B    9        7    Male  107008
25   AsstProf          B   11        3  Female   74692
28   AsstProf          B   10        5  Female   97032
35   AsstProf          B    3        3  Female   92000
21   AsstProf          B    4        3    Male   91000
39   AsstProf          A    7        6  Female   63100
31   AsstProf          A    5        3  Female   73500
41   AsstProf          A    4        2  Female   77500
7    AsstProf          B    4        0    Male   92000
4    AsstProf          B    1        0    Male   88000
6    AsstProf          B    8        3    Male   75044
15   AsstProf          B    7        2    Male   91300
10   AsstProf          B    4        4    Male   92000
32   AsstProf          A    3        1  Female   72500
12   AsstProf          A    4        2    Male   73000
13   AsstProf          A    2        0    Male   85000
43   AsstProf          A    8        3  Female   78500
38       Prof          A   36       19  Female  117555
45       Prof          B   24       15  Female  161101
36       Prof          A   29       27  Female   91000
40       Prof          A   17       11  Female   90450
46       Prof          B   18       10  Female  105450
48       Prof          B   17       17  Female  124312
33       Prof          B   36       26  Female  144651
42       Prof          A   28        7  Female  116450
0        Prof          B   56       49    Male  186960
29       Prof          B   20       14  Female  127512
1        Prof          A   20       20    Male  122400
3        Prof          B   23       23    Male  134778
5        Prof          B   17        3    Male  150480
8        Prof          A   19        7    Male  107300
9        Prof          A   29       27    Male  150500
11       Prof          A   33       30    Male  103106
30       Prof          A   12        0  Female  105000
14       Prof          A   30       23    Male   91100
18       Prof          B   22       21    Male  155750
20       Prof          B   45       45    Male  146856
22       Prof          A   39       36  Female  137000
24       Prof          B   25       25  Female  140096
49       Prof          A   28       14  Female  109954
27       Prof          B   17       17  Female  111512
16       Prof          B   21       20    Male  123683
50       Prof          A   23       15  Female  109646

In [ ]:
#unique,nunique,value_counts,select_dtypes,sort_values

In [ ]:
df['service'].sort_values(ascending=False)

In [ ]:
df_ran=df.select_dtypes(include=["object",'int64'])
df_ran

In [ ]:
df_obj=df.select_dtypes(include="object")
df_num=df.select_dtypes(include="number")     #number involves both int64 and float64

In [ ]:
df.columns

In [ ]:
df_obj

In [ ]:
df_num

In [ ]:
df_num2=df[['salary','service','phd']]
df_num2.head()

In [ ]:
df.mean(numeric_only=True)

In [ ]:
df_num.mean()

In [ ]:
df_num.mean()

In [ ]:
df_num.var()

In [ ]:
df_num.std()

In [ ]:
df_num.mode()

In [ ]:
df_num.median()

In [ ]:

df_obj.mode()

In [ ]:
df_num.salary.mean()

In [ ]:
df_num.salary.mode()[0]

In [ ]:
pd.Series([1,2,2,2,3,3,3,4,5,6,7,8]).mode()[1]

In [ ]:
df.groupby(['rank'])

In [ ]:
grouped=df.groupby(['rank'])

In [ ]:
grouped

In [ ]:
df

In [ ]:
for i,j in grouped:
  print(i)
  print(j)

In [ ]:
grouped.mean(numeric_only=True)

In [ ]:
grouped[['salary','service']].mean()

In [ ]:
round(40.3333333333,3)

In [ ]:
round(df.groupby('sex')['service'].mean(),2)

In [ ]:
df.groupby('discipline')['phd'].median()

In [ ]:
df.groupby('discipline')['service'].skew()

In [ ]:
type(grouped)

In [ ]:
df.salary>120000

In [ ]:
df[df.salary>120000]

In [ ]:
df[df.salary==150500]

In [ ]:
import numpy as np
np.where(df.salary==150500)

In [ ]:
max_service=df['service'].max()
df.loc[df['service']==max_service,'salary']=200000

In [ ]:
df.salary.max()

In [ ]:
df.service.max()

In [ ]:
df[(df['salary']<80000) & (df['discipline']=='B')]

In [ ]:
len(df[(df['rank']=='Prof') | (df['salary']>=100000)])

In [ ]:
df.head()

In [ ]:
df.iloc[3]

In [ ]:
df.iloc[1:4, 0:3]

In [ ]:
df.iloc[0:10].mean(numeric_only=True)

phd            19.7
service        14.9
salary     118874.7
dtype: float64

In [ ]:
df.iloc[0:2,:]

In [ ]:
df.iloc[:,[1,3,5]]

In [ ]:
df.iloc[:,-4]

In [ ]:
df.loc[:,['phd','sex']]

In [ ]:
df.loc[0:10,'rank':'service']

In [ ]:
df.loc[10:21,'phd':'salary']

In [ ]:
df.loc[:,['salary','phd']]

In [ ]:
df.loc[30:45,'phd':'salary']

In [ ]:
df.loc[0:10,:'sex'].describe()

In [ ]:
df.phd.hist()

In [ ]:
round(df.phd.skew(),2)

In [ ]:
df['phd'].kurt()

In [ ]:
df.salary.mode()

In [ ]:
df.salary.mode()[0]

In [ ]:
df[['sex','rank']].mode()

In [ ]:
import pandas as pd

In [ ]:
data={'c1':[1,2,3,4,5],'c2':[6,7,8,9,10],'c3':[11,12,13,14,15]}
data

In [ ]:
dataframe=pd.DataFrame(data,index=[1,2,3,4,5])

In [ ]:
dataframe

In [ ]:
data=[[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15]]
data

In [ ]:

df=pd.DataFrame(data,columns=['c1','c2','c3','c4','c5'],index=['r1','r2','r3'])
df

In [ ]:
round(23.445678,2)

In [ ]:
lst=[4,45,12,13,23,1,10,5]

In [ ]:
lst[:]

In [ ]:
lst[0]

In [ ]:
lst[1]

In [ ]:
lst[-4:-1]

In [ ]:
df

In [ ]:
df.iloc[0:5,0:5]

In [ ]:
df.iloc[15:18,0:3]

In [ ]:
df.loc[0:5,'phd']

In [ ]:
df.loc[40:,["salary",'service']]

In [ ]:
df.loc[43,["salary"]]=102222

In [ ]:
df.loc[43]

In [ ]:
df

In [ ]:
import pandas as ps

In [ ]:
data=[
    [1,2,3,4,5],
    [11,12,13,14,15],
    ["A","B","C","D","E"]
]

In [ ]:
ps.DataFrame(data)

In [ ]:
ps.DataFrame(data,index=['r1','r2','r3'],columns=['c1','c2','c3','c4','c5'])

In [ ]:
import pandas as pd

In [ ]:
dict={"k1":[1],"k2":[2],"k3":[3]}

In [ ]:
dict

In [ ]:
pd.DataFrame(dict)

In [ ]:
dict2={"c1":[1,2,3,4,5],"c2":["A","B","C","D","E"],"c3":[40,60,80,90,100]}

In [ ]:
df=pd.DataFrame(dict2)
df

In [ ]:
df2=pd.DataFrame(dict2,index=["r1","r2","r3","r4","r5"])
df2

In [ ]:
lst=[[1,"A","one"],[2,"B","Two"],[3,"C","Three"]]
lst

In [ ]:
import pandas as pd

In [ ]:
pd.DataFrame(lst,columns=["c1","c2","c3"],index=[1,2,3])

In [ ]:
dict={"Name":("Ram","Raju","Rani","Sita","Sai"),"Marks":(50,56,68,84,78)}
dict

In [ ]:
df=pd.DataFrame(dict)
df

In [ ]:
df['City']=["Hyd","Blr","Hyd","Blr","Hyd"]

In [ ]:
df

In [ ]:
df.loc[5]=["A",45,"Hyd"]

In [ ]:
df

In [ ]:
df.drop(5,axis=0,inplace=True)  ##axis=0 , operating on row

In [ ]:
df

In [ ]:
a=3
print(f"the value is {a}")

In [ ]:
#https://drive.google.com/file/d/1-Hp1KPZ2xe8ZKoSm5tWA-254WcxRi89N/view?usp=sharing
file_id="1-Hp1KPZ2xe8ZKoSm5tWA-254WcxRi89N"
url=f"https://drive.google.com/uc?id={file_id}"
pd.read_csv(url)

In [ ]:
def square(x):
  return x**2

In [ ]:
square(2)+2

In [ ]:
def square2(x):
  print( x**2)

In [ ]:
square2(2)+2

In [ ]:
import pandas as pd

In [ ]:
s1=pd.Series(20)
s1

In [ ]:
s2=pd.Series([12,45,76,89,23,67,89])

In [ ]:
s2

In [ ]:
type(s2)

In [ ]:
s2.mean()

In [ ]:
s2.mode()

In [ ]:
lst=[
    [1001,"Apple",25],
    [1002,"Mango",26],
    [1003,"Grapes",25]
]

In [ ]:
lst

In [ ]:
df2=pd.DataFrame(lst)
df2

In [ ]:
df3=pd.DataFrame(lst,columns=["ID","Name","Age"])
df3

In [ ]:
df3=pd.DataFrame(lst,columns=["ID","Name","Age"],index=["A","B","C"])
df3

In [ ]:
df3.to_csv("data.csv")

In [ ]:
df4=pd.read_csv("data.csv",index_col="ID")

In [ ]:
df4

In [ ]:
#create a dataframe using dictionary
dict={
    "ID":[1001,1002,1003],
    "Names":["Apple","Mango","Grapes"],
    "Age":[25,26,25]
}

In [ ]:
dict

In [ ]:
data1=pd.DataFrame(dict)

In [ ]:
data1